<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/add_note">

     <div>
            <label>Title</label>
            <div class="input-group">
                <input type="text"  name="Title">
            </div>
             <div>
            <label>Text</label>
            <div class="input-group">
                <input type="text"  name="Text">
            </div>
            <input type="submit" name="jj">
    </form>


</body>
</html>